<!-- <p>show-list works!</p>
<div class="card card-block" *ngFor="let show of showsList" (click)="goToSeatsPage(show.showId)">
    <h4 class="card-title">{{show.movieName}}</h4>
    <p class="card-text">img</p>
</div> -->



<div class="backgroundimg">
    <!-- <div class="container py-5 h-40">
        <div class="row d-flex justify-content-center align-items-center h-20"> -->
            <!-- <div class="col-10 col-md-8 col-lg-6 col-xl-5"> -->
                <div class="card" style="border-radius: 1rem; background-color: transparent;">
                    <div class="card-body text-center"> 
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <div class="backdesign">
                                <div class="h-40" style="margin-left: 800px;">
                                    <h2 class="text-center fw-bold text-uppercase" style="color:  #ff0606; margin-bottom: 50px; margin-top: 30px;"> Select your
                                        prefered Movie
                                    </h2>
                                    <div class="d-flex justify-content-center list-class pt-4">
                                        <!-- <div class="col-10 col-md-8 col-lg-6 col-xl-5"> -->
                                        <ul class="list-group list-group-flush bg-none">
                                            <li class="list-group-item pb-3 pt-3"
                                                style="list-style-type:none; padding-bottom: 3px; background-color: transparent;"
                                                *ngFor="let show of showsList"
                                                (click)="goToSeatsPage(show.showId)">
                                                <div class="card card-block card-manual-css text-white" style="background: linear-gradient(to right, rgb(248, 13, 13), rgba(202, 188, 188, 0.836))">
                                                    <h3 class="card-title text-center pt-4 ">
                                                        {{show.movieName}}
                                                    </h3>
                                                    <hr />
                                                    <p class="card-text" style="padding: 10px 80px 30px 80px;">
                                                        Date : {{show.date}} <br />
                                                        Time : {{show.time}} <br />
                                                        Duration : {{show.duration}}
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    <!-- </div>
</div> -->