.gradient-custom {
    background-image: url("../../assets/logintheme.png");
    background-size: cover;
    
  }

  .card-padding-class{
      padding-top: 10vh;
      /* background-color: transparent; */
  }