<div class="background-image">
<!-- <section class="gradient-custom "> -->
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6 col-xl-5">
                <div class="card " style="border-radius: 1rem; background-color: transparent;" >
                    <div class="card-body text-center"> 
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <div class="backdesign">
                                <div class="h-40">
                                    <h2 class="text-center fw-bold text-uppercase" style="color:  #fcfafa;">Select your
                                        prefered theatre
                                    </h2>
                                    <div class="d-flex justify-content-center list-class pt-4">
                                        <!-- <div class="col-10 col-md-8 col-lg-6 col-xl-5"> -->
                                        <ul class="list-group list-group-flush bg-none">
                                            <li class="list-group-item pb-3 pt-3"
                                                style="list-style-type:none; padding-bottom: 3px; background-color: transparent;"
                                                *ngFor="let theatre of theatrelist"
                                                (click)="goToShowsPage(theatre.theatreId)">
                                                <div class="card card-block card-manual-css">
                                                    <h3 class="card-title text-center pt-3 text-danger">
                                                        {{theatre.theatreName}}
                                                    </h3>
                                                    <hr />
                                                    <p class="card-text" style="padding: 10px 80px 30px 80px;">
                                                        City : {{theatre.theatreCity}} <br />
                                                        location : {{theatre.theatreLocation}}
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </section> -->
</div>