


<nav class="navbar sticky-top navbar-expand-lg navbar-dark justify-content-between" style="background-color: transparent;">

    <div class="container">

        <a class="navbar-brand fw-bolder">Movie Booking App</a>

        <form class="form-inline">

            <a class="navbar-brand me-5 fw-bolder">Welcome {{userobj.userName}}</a>

            <button class="btn btn-outline-danger my-2 my-sm-0 fw-bolder" type="submit" (click)="goToProfile()">Go to profile</button>
            <!-- (click)="goToProfile() -->
        </form>

    </div>



</nav>