.button-manual-css:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(7, 166, 240, 0.836), 0 4px 8px rgba(6, 168, 243, 0.89);
    border-color:rgb(44, 134, 207);
    /* color: white; */
}

.button-manual-css {
    /* background-color: rgb(18, 127, 199); */
    border: 2px solid blue;
    /* color: white; */
    background-color: transparent;
}
.gradient-custom {

    /* background-image: url("../../assets/card.png");
    background-size: cover;
    background-attachment: fixed; */
    /* background-color: rgb(0, 0, 0); */
    background: linear-gradient(to right, rgb(255, 0, 0), rgba(255, 255, 255, 0.836));
    height: 100h;
    width: 100vw;
  }

  /* rgba(202, 188, 188, 0.836) */



.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.visa{background-image:url(http://i.imgur.com/lXzJ1eB.png);margin-right: 5px;}
.mastercard{background-image:url(http://i.imgur.com/SJbRQF7.png); margin-right: 5px;}
.americanexpress{background-image: url("../../assets/amex.png");margin-right: 5px;}
.discover{background-image: url("../../assets/discover.png");}
.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
