
<div class="row row-css-class" >
  <app-navbar></app-navbar>
  <!-- <div class="col">
    <img class="sticky" src="../../assets/MicrosoftTeams-image.png" height="500px" width="650px"
      style="margin-top: 150px;margin-left: 100px;">
  </div>
  <div class="col"> -->

    <div class="backdesign">
      <div class="py-5 h-40">
        

        <div class="row d-flex justify-content-center align-items-center h-20">
          <div class="col-10 col-md-8 col-lg-6 col-xl-5">
            <div class="card card-style-class" style="background-color: rgba(177, 165, 165, 0.685);">
<div style="border-bottom: 3px solid black;">
        <h2 class="text-center fw-bold mb-2 text-uppercase pt-5" >Select your prefered location
        </h2>
      </div>
        <!-- <hr style="color:  black; height: 1px; background-color: black; border: none;"> -->
        <div class="d-flex justify-content-center list-class" style="padding-top: 100px; padding-bottom: 200px;">
          <!-- <div class="col-10 col-md-8 col-lg-6 col-xl-5"> -->




          <ul class="list-group list-group-flush bg-none">
            <li class="list-group-item "
              style="list-style-type:none; padding-bottom: 3px; background-color: transparent;"
              *ngFor="let city of location" (click)="routeToTheater(city)">
              <img src="../../assets/icons8-place-marker-unscreen.gif" style="width: 40px; height: 40px;">
              <h4 class="d-inline" style="padding-left: 10px; ">{{city}}</h4>

            </li>
          </ul>

        </div>


        </div>
      </div>
    </div>
    </div>
  </div>
</div>
