<div class="row" style="background-color: black; width: 100vw; height: 100vh;">
<div class="col-4">
  <img src="../../assets/giphy-downsized-large-unscreen.gif" style="size: inherit; padding-left: 150px; padding-top: 150px;">
</div>
<div class="col">

<div class="backdesign" >
  <div class="py-5 h-40">
    <h2 class="text-center fw-bold mb-2 text-uppercase pt-3" style="color:  #c8d41e;">Select your prefered location</h2>
    <div class="d-flex justify-content-center list-class">
      <!-- <div class="col-10 col-md-8 col-lg-6 col-xl-5"> -->




      <ul class="list-group list-group-flush bg-none">
        <li class="list-group-item " style="list-style-type:none; padding-bottom: 3px; background-color: transparent;"
          *ngFor="let city of location" (click)="routeToTheater(city)">
          <img src="../../assets/location-preview-unscreen.gif" style="width: 40px; height: 40px;">
          <h4 class="d-inline" style="padding-left: 10px; color:white">{{city}}</h4>

        </li>
      </ul>




    </div>
  </div>
</div>
<!-- </div> -->
</div>
</div>