.list-class{
    padding-top: 10vh;
    
}

/* .backdesign{
    background-image: url("../../assets/download2jpg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 100vh;
} */

img.sticky {
    position: -webkit-sticky;
    position: sticky;
}


.row-css-class{
    width: 100vw; height: 100vh;
    background-image: url("../../assets/locationbg3.png");
    background-size: cover;
    opacity: 0.9;
}