.list-class{
    padding-top: 10vh;
    
}

/* .backdesign{
    background-image: url("../../assets/download2jpg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 100vh;
} */