<div class="d-flex justify-content-center">
    <img src="../../assets/check-mark-verified.gif" style="padding-top: 30px;">
</div>


<div class="jumbotron text-center mt-5">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead">Your booking has been confirmed. Please check your email for details. </p>
    <hr>
    <p class="lead">
        <a class="btn btn-primary btn-sm" role="button" (click)="gotoLocationsPage()">Continue to homepage</a>
      </p>
    <p>
      Having trouble? <a href="">Contact us</a>
    </p>
    
</div>